@page "/employeeList"
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager

<h3>Employee List</h3>

<button class="btn  btn-primary" @onclick="AddItem">Add</button>

@if (isLoading) {
	<p>Loading ... </p>
}
else {
	<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Surname</th>
			<th>Employee Type</th>
			<th>Monthly salary</th>
			<th>Starting Hire Date</th>
			<th>Ending Hire Date</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var emp in employeeList) {
			<tr>
				<td>@emp.Name</td>
				<td>@emp.Surname</td>
				<td>@emp.EmployeeType</td>
				<td>@emp.SalaryPerMonth</td>
				<td>@emp.HireDateStart</td>
				<td>@emp.HireDateEnd</td>
				<td>
				<button class="btn btn-primary" @onclick="() => EditItem(emp)">Edit</button>
				<button class="btn btn-danger" @onclick="() => DeleteItem(emp)">Delete</button>
				</td>
				
			</tr>
		}
	</tbody>
</table>
}

@code {

}
