@page "/itemlist/edit/{Id:guid?}"
@using FuelStation.Blazor.Shared
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<h3>Item Edit</h3>
@if (ItemItem == null)
{
    <p>Loading ...</p>
}
else
{
    <div class="row">
            <div class="col-md-6">
            <label class="form-label">Code</label>
            <input class="form-control" @bind="@ItemItem.Code" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Description</label>
            <input class="form-control" @bind="@ItemItem.Description" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Type</label>
            <input class="form-control" @bind="@ItemItem.ItemType" />
        </div>      
        <div class="col-md-6">
            <label class="form-label">Price</label>
            <input class="form-control" @bind="@ItemItem.Price" />
        </div> 
        <div class="col-md-6">
            <label class="form-label">Cost</label>
            <input class="form-control" @bind="@ItemItem.Cost" />
        </div> 
    </div>
    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-success" @onclick="OnSave">Save</button>
            <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
        </div>
    </div>
}
@code {
    [Parameter] public Guid ID { get; set; }
    ItemEditViewModel ItemItem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ItemItem = await httpClient.GetFromJsonAsync<ItemEditViewModel>($"item/{ID}");
    }

     protected async Task OnSave()
    {
        HttpResponseMessage response;
        if (ID == Guid.Empty)
        {
            response = await httpClient.PostAsJsonAsync("item", ItemItem);
        }
        else
        {
            response = await httpClient.PutAsJsonAsync("item", ItemItem);
        }
        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("itemlist");
    }

    protected void OnCancel()
    {
        navigationManager.NavigateTo("itemlist");
    }

}
